<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Mis archivos</h1>
          <p class="lead text-muted">Se muestran los archivos de los cuales eres propietario, con los permisos de editar, compartir o eliminar.</p>
          <p>
            <a routerLink="/landing/new" class="btn btn-primary my-2">Crear Nuevo.</a>
          </p>
        </div>
      </div>

      <div class="row py-lg-5">
        <div *ngFor="let file of myFiles" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <h5 class="card-title">{{file.name}}</h5>
              <div class="card-body">
                <p class="card-text">{{file.description}}</p>
                <p class="card-text">Creado por: {{file.createdBy}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" (click)="downloadFile(file.resourceAwsPath)" class="btn btn-sm btn-outline-secondary">Descargar</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                  </div>
                  <small class="text-muted">{{file.updatedAt}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  </main>